/* 
body, html {
	margin: 0;
	padding: 0;
	
} */
*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Source Code Pro', monospace;
}
.container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* animated background */
.animated-background{
    z-index: 0;
    position: fixed;
    width: 100vw;
    overflow: visible;
}
svg {
	width: 100%;
	height: 101vh;
}

@-webkit-keyframes rotate {
    0% {
         -webkit-transform: rotate(0);
         transform: rotate(0)
    }
    100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
         -webkit-transform: rotate(0);
         transform: rotate(0)
    }
    100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg)
    }
}

.top-outer {
    -webkit-transform-origin: 73px 69px;
    transform-origin: 73px 69px;
    -webkit-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
}

.top-inner {
    -webkit-transform-origin: 73px 69px;
    transform-origin: 73px 69px;
    -webkit-animation: rotate 20s linear infinite;
    animation: rotate 20s linear infinite;
}

.bottom-outer {
    -webkit-transform-origin: 134px 222px;
    transform-origin: 134px 222px;
    -webkit-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
}

.bottom-inner {
    -webkit-transform-origin: 134px  222px;
               transform-origin: 134px  222px;
    -webkit-animation: rotate 20s linear infinite;
               animation: rotate 20s linear infinite;
}

/* content */
.title-box {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* top: 10; */
    margin: 5% 30%;
    background-color:rgba(51, 51, 51, 0.767);
    height: auto;
    width: 40%;
    z-index: 1;
    box-shadow: 0.2rem 0.1rem 1rem #8a8989;
    padding: 1rem;
    border-radius: 0.5rem;
}
.title-box h1{
    color: #F67280;
    text-align: center;
    margin-bottom: 5%;
    font-size: 5rem;
}

.title-box input{
    padding: 1%;
    margin: 3% auto;
    width: 78%;
    background-color: #e6e6e6;
    border: 0.1rem solid #333;
    border-radius: 0.5rem;
}

.title-box input:focus {
    outline: none;
    width: 80%;
    background-color: #fff;
}

.title-box button{
    width: 20%;
    margin: auto;
    padding: 1%;
    background-color: none;
    cursor: pointer;
    border-radius: 0.5rem;
    color: #355C7D;
    border: 0.1rem solid #355C7D;
}
.title-box button:hover{
    background-color: #fff;
    transform: translateY(0.1rem);
}
#list{
    /* position: fixed;
    top: 10; */
    margin: 3% 20%;
    z-index:1;
    background-color:#333;
    min-height: 50%;
    width: 60%;
    padding: 3%;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #8a8989;
}
.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}
.list-item label{
    display: block;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.list-item input {
    position: absolute;
    transform: scale(0);
}

.list-item input:checked ~ .checkbox {
    transform: rotate(40deg);
    width: 2rem;
    margin-left: 1.6rem;
    border-color: #80F672;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 0.3rem solid #BAD7DF;
    border-radius: 0.6rem;
    transition: all 0.3s;
}

.list-item p{
    margin-left: 3%;
    font-size: 3.5rem;
    color: #f7f8cb;
}

#reset-button{
    z-index: 2;
    width: 10%;
    padding: 1%;
    margin-left: 20%;
    border-radius: 0.5rem;
    border: 0.1rem solid #fff;
    box-shadow: 0.1rem 0.1rem 0.5rem #8a8989;
    color: #fff;
    background-color: #3c668b;
    cursor: pointer;
}
